<style>
    .footer{
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        color: white;
    }
</style>

<div class="footer">
    <p>©️ Shoaib Mushtaq Bhat </p>
</div>