<style>
    *{
        margin: 0;
        padding: 0;
    }
    .navbar{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        padding-left: 2%;
        padding-right: 2%;
        background-color: black;
        >ul{
            display: flex;
            justify-content: space-between;
            width: 30%;
            margin-right: 5%;
            margin-top: 2%;
            color: aliceblue;
            >li{
                list-style: none;
                font-size: 22px;
            }
        }
        .logo{
            text-decoration: none;
            color: white;
            font-size: 40px;
            margin-top: 2%;
        }
    }
</style>
<nav class="navbar">
    <a href="#" class="logo">LOGO</a>
    <ul>
        <li>Home</li>
        <li>About</li>
        <li>Services</li>
        <li>Contact</li>
    </ul>
</nav>