 <nav>
    <div class="">
      <div class="flex justify-between h-16 px-10 shadow items-center w-screen">
        <div class="flex items-center space-x-8">
          <a href="/"><h1 class="text-xl lg:text-2xl font-bold cursor-pointer">Advice Tech</h1></a>
          <div class="hidden md:flex justify-around space-x-4">
            <a href="/" class="hover:text-indigo-600 text-gray-700">Home</a>
            <a href="#" class="hover:text-indigo-600 text-gray-700">About</a>
            <a href="#" class="hover:text-indigo-600 text-gray-700">Service</a>
            <a href="#" class="hover:text-indigo-600 text-gray-700">Contact</a>
          </div>
        </div>
        <div class="flex space-x-4 items-center">
          <a href="/login" class="text-gray-800 text-sm">LOGIN</a>
          <a href="/signup" class="bg-black px-4 py-2 rounded text-white hover:bg-black text-sm">SIGNUP</a>
        </div>
      </div>
    </div>
  </nav>    