<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>

    
   
</head>
<body>
    <div class="flex justify-between min-h-screen pt-16   w-full ">
      <div class="flex bg-neutral-600 fixed z-50 flex-col w-1/4 h-full">
         <ul class="my-5 mx-5 text-2xl text-slate-100">
            <li class="my-3"><a href="#">Users</a></li>
            <li class="my-3"><a href="#">Settings</a></li>
            <li class="my-3"><a href="/logout">Log-Out</a></li>
         </ul>
      </div>
{{!-- <div class="w-2/4 h-2/4 bg-neutral-700">
</div>
<div class="w-2/4 h-2/4 bg-neutral-900">
<ul class="ml-56">
   <li>ahsdh</li>
   <li>sdf</li>
   <li>sdf</li>
   <li>fgfg</li>
   <li>fg</li>
</ul>

</div>       --}}
      </div>
        <script>
function deleteAllCookies() {
    var cookies = document.cookie.split(";");

    for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i];
        var eqPos = cookie.indexOf("=");
        var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
        document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
    }
}
</script>
</body>
</html>